body{background:#dadada}
*{margin:0; padding:0}

#menu{
    margin: 20px; 
    position: relative;
    background: #4e4e4e;
    text-transform: capitalize;
}
#menu ul {
    display: flex;
    justify-content: flex-end;
}
#menu ul ul{
    position: absolute;
    display: none;
    background: #4e4e4e; 
}
#menu li{
    list-style-type: none;
}
#menu li a{
    display: block; 
    color: #fff; 
    text-decoration: none; 
    padding: 30px;
    transition: all .5s;
}
#menu li a:hover{
    display:block;
    background: #575757;
    color:orange;
    transform: scale(1.2);
    font-size: 1.1em;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
#menu ul li:hover > ul{
    display: block;
}
#menu li{
    font-family: Arial;
    text-align: center;
    width: 140px;
}

p со{
    padding: 20px;
}